@model NetCoreProjectsList.Componenets.Paging.PagedList<NetCoreProjectsList.Models.Project>

<h2>Projects</h2>

<p>
    <a asp-action="Create">Create new</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-group">
        <span class="control-label col-md-2">Filter by name: </span>
        <div class="col-md-4">
            <input name="nameFilter" class="form-control" value="@ViewBag.NameFilter" />
        </div>
        <div class="col-md-offset-4">
            <input type="submit" value="Filter" class="btn btn-default" />
            <a asp-action="Index" class="btn btn-default">Clear</a>
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>Name</th>
        <th colspan="3"></th>
    </tr>
    @if (Model.Page.Any())
    {
        foreach (var project in Model.Page)
        {
            <tr>
                <td>@project.Name</td>
                <td><a asp-action="Details" asp-route-id="@project.ProjectId" asp-route-pageNo="@Model.PagingInfo.CurrentPage" asp-route-nameFilter="@ViewBag.NameFilter">Details</a></td>
                <td><a asp-action="Edit" asp-route-id="@project.ProjectId" asp-route-pageNo="@Model.PagingInfo.CurrentPage" asp-route-nameFilter="@ViewBag.NameFilter">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@project.ProjectId" asp-route-pageNo="@Model.PagingInfo.CurrentPage" asp-route-nameFilter="@ViewBag.NameFilter">Delete</a></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4">No projects available</td>
        </tr>
    }
</table>

@if (Model.PagingInfo.FirstPage != Model.PagingInfo.LastPage)
{
    @Html.Partial("~/Views/Shared/Pagination.cshtml", Model.PagingInfo)
}